body {
    font-family: Arial, sans-serif;
    background-color: #232946;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}
.top-bar {
    position: absolute;
    top: 200px;
    align-items: center;
}

.ver-empleados {
    background: #ffb703;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.ver-empleados:hover {
    background: #b8c1ec;
}

.contenedor {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 710px;
    max-width: 100%;
    flex-wrap: wrap;
}

.imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img {
    width: 350px; /* Mantiene el tamaño original */
    height: auto;
    border-radius: 10px;
    margin-right: 15px;
}

.formulario {
    flex: 2;
    width: 100%;
    max-width: 350px;
}

.formulario h2 {
    text-align: center;
    color: #232946;
}

.campo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.campo div {
    width: 48%;
}

.formulario label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.formulario input, .formulario select {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.formulario input[type="file"] {
    width: 100%;
}

.formulario .ejemplo {
    font-size: 12px;
    color: gray;
    margin-top: 3px;
}

.formulario button {
    width: 100%;
    background: #ffb703;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.formulario button:hover {
    background: #b8c1ec;
}

/* RESPONSIVIDAD */
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imagen img {
        max-width: 150px; /* Imagen más pequeña en pantallas muy pequeñas */
    }

    .campo {
        flex-direction: column;
        align-items: center;
    }

    .campo div {
        width: 100%;
    }

    .top-bar {
        top: 40px;
        width: 150px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .ver-empleados {
        background: #ffb703;
        color: #ffffff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
    }
    
    .ver-empleados:hover {
        background: #b8c1ec;
    }
}